*{margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
body{padding:20px 0 0 20px}
canvas{border:1px solid #181818;display:block;box-shadow:0 0 10px #111;background:rgba(20,20,20,1);width: 110%; margin-left: -20px;margin-right: -20px;margin-top: -20px;margin-bottom: -20px;}
