* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #f8be40;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-bottom: 3px solid #815a05;
  overflow: hidden;
}

.sun {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 6px solid #815a05;
  border-radius: 50%;
  transform: translate3d(0, 110px, 0);
  animation: 7s sun ease infinite;
}

@keyframes sun {
  0% {
    transform: translate3d(0, 110px, 0);
  }
  20% {
    transform: translate3d(0, 110px, 0);
  }
  25% {
    transform: translate3d(0, 70px, 0);
  }
  75% {
    transform: translate3d(0, 70px, 0);
  }
  80% {
    transform: translate3d(0, 110px, 0);
  }
  100% {
    transform: translate3d(0, 110px, 0);
  }
}
.shine {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: 20s shine linear infinite;
}

.r {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 70px;
  border-bottom: 12px solid #815a05;
  transform-origin: top;
}

.r:nth-child(1) {
  transform: rotate(45deg);
}

.r:nth-child(2) {
  transform: rotate(90deg);
}

.r:nth-child(3) {
  transform: rotate(135deg);
}

.r:nth-child(4) {
  transform: rotate(180deg);
}

.r:nth-child(5) {
  transform: rotate(225deg);
}

.r:nth-child(6) {
  transform: rotate(270deg);
}

.r:nth-child(7) {
  transform: rotate(315deg);
}

.r:nth-child(8) {
  transform: rotate(360deg);
}

@keyframes shine {
  100% {
    transform: rotate(360deg);
  }
}
.eyes {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30px;
  height: 5px;
  margin: -5px 0 0 0;
  animation: 7s eyes ease infinite;
}

.left, .right {
  float: left;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #815a05;
}

.right {
  float: right;
}

@keyframes eyes {
  0% {
    transform: translate3d(0, 0, 0);
  }
  42% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(40px, 0, 0);
  }
  55% {
    transform: translate3d(40px, 0, 0);
  }
  58% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
