@-webkit-keyframes rotate {
	0% {
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		}
	100% {
		transform:rotate(360deg);
		-ms-transform:rotate(3600deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}
@-moz-keyframes rotate {
	0% {
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		}
	100% {
		transform:rotate(360deg);
		-ms-transform:rotate(3600deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}
@-ms-keyframes rotate {
	0% {
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		}
	100% {
		transform:rotate(360deg);
		-ms-transform:rotate(3600deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}
@-o-keyframes rotate {
	0% {
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		}
	100% {
		transform:rotate(360deg);
		-ms-transform:rotate(3600deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}
@keyframes rotate {
	0% {
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		}
	100% {
		transform:rotate(360deg);
		-ms-transform:rotate(3600deg);
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-o-transform:rotate(360deg);
	}
}




* { margin: 0; padding: 0; border: 0;}
body {
	background: url(../img/background.jpg);
  height: 100%;
  width: 100%;
  margin-top: -0%; margin-left: -0%; overflow: hidden;

}

.flatearth3 {
	width: 120px;
	height: 120px;
	position: fixed;
  margin: 262px 150px;
	border-radius: 60px;
	box-shadow: 0px 0px 30px black;
}

.sun3 {
	width: 120px;
	height: 120px;
	background: url(../img/sun1.png);
	position: fixed;
  margin: 262px 150px;
	border-radius: 60px;
	box-shadow: 0px 0px 30px black;
}
.mercury3 {
	width: 156px;
	height: 3px;
	background: url(../img/mercury1.png);
	position: fixed;
	margin: 321px 605px;
	-webkit-animation: rotate 1.5s linear;
    -webkit-animation-iteration-count: infinite;
	-moz-animation: rotate 1.5s linear;
    -moz-animation-iteration-count: infinite;
	-ms-animation: rotate 1.5s linear;
    -ms-animation-iteration-count: infinite;
	-o-animation: rotate 1.5s linear;
    -o-animation-iteration-count: infinite;
	animation: rotate 1.5s linear;
    animation-iteration-count: infinite;

}
.venus3 {
	width: 200px;
	height: 7px;
	background: url(../img/venus1.png);
	position: fixed;
	margin: 318px 110px;
	-webkit-animation: rotate 3.75s linear;
    -webkit-animation-iteration-count: infinite;
	-moz-animation: rotate 3.75s linear;
    -moz-animation-iteration-count: infinite;
	-ms-animation: rotate 3.75s linear;
    -ms-animation-iteration-count: infinite;
	-o-animation: rotate 3.75s linear;
    -o-animation-iteration-count: infinite;
	animation: rotate 3.75s linear;
    animation-iteration-count: infinite;
}
.earth3 {
	width: 245px;
	height: 8px;
	background: url(../img/earth1.png);
	position: fixed;
	margin: 318px 87px;
	-webkit-animation: rotate 6.1s linear;
    -webkit-animation-iteration-count: infinite;
	-moz-animation: rotate 6.1s linear;
    -moz-animation-iteration-count: infinite;
	-ms-animation: rotate 6.1s linear;
    -ms-animation-iteration-count: infinite;
	-o-animation: rotate 6.1s linear;
    -o-animation-iteration-count: infinite;
	animation: rotate 6.1s linear;
    animation-iteration-count: infinite;
}
.mars3 {
	width: 284px;
	height: 4px;
	background: url(../img/mars1.png);
	position: fixed;
	margin: 320px 70px;
	-webkit-animation: rotate 11.44s linear;
    -webkit-animation-iteration-count: infinite;
	-moz-animation: rotate 11.44s linear;
    -moz-animation-iteration-count: infinite;
	-ms-animation: rotate 11.44s linear;
    -ms-animation-iteration-count: infinite;
	-o-animation: rotate 11.44s linear;
    -o-animation-iteration-count: infinite;
	animation: rotate 11.44s linear;
    animation-iteration-count: infinite;
}
.jupiter3 {
	width: 493px;
	height: 90px;
	background: url(../img/jupiter1.png);
	position: fixed;
	margin: 277px -40px;
	-webkit-animation: rotate 72.3s linear;
    -webkit-animation-iteration-count: infinite;
	-moz-animation: rotate 72.3s linear;
    -moz-animation-iteration-count: infinite;
	-ms-animation: rotate 72.3s linear;
    -ms-animation-iteration-count: infinite;
	-o-animation: rotate 72.3s linear;
    -o-animation-iteration-count: infinite;
	animation: rotate 72.3s linear;
    animation-iteration-count: infinite;
}
.saturn3 {
	width: 679px;
	height: 152px;
	background: url(../img/saturn1.png);
	position: fixed;
	margin: 278px -100px;
	-webkit-animation: rotate 179.6s linear;
    -webkit-animation-iteration-count: infinite;
	-moz-animation: rotate 179.6s linear;
    -moz-animation-iteration-count: infinite;
	-ms-animation: rotate 179.6s linear;
    -ms-animation-iteration-count: infinite;
	-o-animation: rotate 179.6s linear;
    -o-animation-iteration-count: infinite;
	animation: rotate 179.6s linear;
    animation-iteration-count: infinite;
}
.uranus3 {
	width: 767px;
	height: 32px;
	background: url(../img/uranus1.png);
	position: fixed;
	margin: 306px -50px;
	-webkit-animation: rotate 512.2s linear;
    -webkit-animation-iteration-count: infinite;
	-moz-animation: rotate 512.2s linear;
    -moz-animation-iteration-count: infinite;
	-ms-animation: rotate 512.2s linear;
    -ms-animation-iteration-count: infinite;
	-o-animation: rotate 512.2s linear;
    -o-animation-iteration-count: infinite;
	animation: rotate 512.2s linear;
    animation-iteration-count: infinite;
}
.neptune3 {
	width: 859px;
	height: 31px;
	background: url(../img/neptune1.png);
	position: fixed;
	margin: 307px -7s0px;
	-webkit-animation: rotate 1000s linear;
    -webkit-animation-iteration-count: infinite;
	-moz-animation: rotate 1000s linear;
    -moz-animation-iteration-count: infinite;
	-ms-animation: rotate 1000s linear;
    -ms-animation-iteration-count: infinite;
	-o-animation: rotate 1000s linear;
    -o-animation-iteration-count: infinite;
	animation: rotate 1000s linear;
    animation-iteration-count: infinite;
