/*
  Malik Dellidj - @Dathink

  Solar System orbit animation true time scaled

  Revolution of planets in earth days (from Wikipedia)
  Mercury : ~87,5 days
  Venus : ~224,7 days
  Earth : ~365,2563 days
    + Moon : ~27,3216 days (around earth)
  Mars : ~687 days (~1,8 year)
  Jupiter : ~4 331 days (~12 years)
  Saturn : ~10 747 days (~30 years)
  Uranus : ~30 589 days (~84 years)
  Neptune : ~59 802 days (~165 years)
  Pluto : ~90 580 days (~248 years)
*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin-top: -0%; margin-left: -0%; overflow: hidden;
}

body {
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background-image: url("../img/sky.png");
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: .1em;
}

a, a:visited {
  text-decoration: none;
  color: white;
  opacity: .7;
}
a:hover, a:visited:hover {
  opacity: 1;
}
a.icon, a:visited.icon {
  margin-right: 2px;
  padding: 3px;
}

.description {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  z-index: 999;
}
.description2 {
  padding: 0 0 50px 30px;;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.description p {
  font-size: .9em;
}
.description p + p {
  margin-top: 20px;
}
.description p.author {
  font-size: .7em;
}
.description p.author .fa-heart {
  color: #860014;
}

hr {
  margin: 26px 0;
  border: 0;
  border-top: 1px solid white;
  background: transparent;
  width: 25%;
  opacity: .1;
}

code {
  color: #ae94c0;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: .9em;
}

.solar-syst {
  background-image: url("../img/universe.png");
  background-position: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.solar-syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  border-radius: 100px;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: -webkit-radial-gradient(center ellipse, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.18673s linear infinite;
          animation: orb 7.18673s linear infinite;
}
.mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.45553s linear infinite;
          animation: orb 18.45553s linear infinite;
}
.venus:before {
  height: 3px;
  width: 3px;
  background: #BEB768;
  margin-top: -4px;
  margin-left: -4px;
}

.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
          animation: orb 30s linear infinite;
}
.earth:before {
  height: 4px;
  width: 4px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.24404s linear infinite;
          animation: orb 2.24404s linear infinite;
}

.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.42613s linear infinite;
          animation: orb 56.42613s linear infinite;
}
.mars:before {
  height: 16px;
  width: 16px;
  background: #ffffff;
  margin-top: -3px;
  margin-left: -3px;
}

.jupiter {
  height: 210px;
  width: 210px;
  margin-top: -105px;
  margin-left: -105px;
  -webkit-animation: orb 35.72282s linear infinite;
          animation: orb 35.72282s linear infinite;
}
.jupiter:before {
  height: 5px;
  width: 5px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

.saturn {
  height: 220px;
  width: 220px;
  margin-top: -110px;
  margin-left: -110px;
  -webkit-animation: orb 72.69525s linear infinite;
          animation: orb 72.69525s linear infinite;
}
.saturn:before {
  height: 6px;
  width: 6px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 2.676%;
  left: 50%;
  top: 0px;
  -webkit-transform: rotateZ(-52deg);
          transform: rotateZ(-52deg);
  margin-left: -2.5%;
  margin-top: -3.0%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.69525s linear infinite;
          animation: orb 882.69525s linear infinite;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  -webkit-transform-origin: 52% 60%;
          transform-origin: 52% 60%;
}

.uranus {
  height: 120px;
  width: 120px;
  margin-top: -60px;
  margin-left: -60px;
  -webkit-animation: orb 12.4002s linear infinite;
          animation: orb 12.4002s linear infinite;
}
.uranus:before {
  height: 5px;
  width: 5px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

.neptune {
  height: 130px;
  width: 130px;
  margin-top: -65px;
  margin-left: -65px;
  -webkit-animation: orb 91.78386s linear infinite;
          animation: orb 91.78386s linear infinite;
}
.neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

.asteroids-belt {
  opacity: .7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  -webkit-animation: orb 179.95583s linear infinite;
          animation: orb 179.95583s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: 31px 58px 0 -104px rgba(255, 255, 255, 0.01) , -77px 68px 0 -104px rgba(255,255,255, 0.105) , 142px -132px 0 -104px rgba(255,255,255, 0.835) , 11px -62px 0 -104px rgba(255,255,255, 0.236) , -108px -144px 0 -104px rgba(255,255,255, 0.184) , 86px -120px 0 -104px rgba(255,255,255, 0.083) , -119px -9px 0 -104px rgba(255,255,255, 0.005) , -103px 48px 0 -104px rgba(255,255,255, 0.614) , 110px 8px 0 -104px rgba(255,255,255, 0.782) , -97px -133px 0 -104px rgba(255,255,255, 0.446) , -136px 20px 0 -104px rgba(255,255,255, 0.141) , -1px -111px 0 -104px rgba(255,255,255, 0.977) , -141px -8px 0 -104px rgba(255,255,255, 0.732) , 106px -135px 0 -104px rgba(255,255,255, 0.088) , -62px -64px 0 -104px rgba(255,255,255, 0.953) , -115px -25px 0 -104px rgba(255,255,255, 0.271) , 56px -47px 0 -104px rgba(255,255,255, 0.278) , 4px -97px 0 -104px rgba(255,255,255, 0.601) , 52px 30px 0 -104px rgba(255,255,255, 0.798) , -83px -46px 0 -104px rgba(255,255,255, 0.81) , -56px 31px 0 -104px rgba(255,255,255, 0.362) , -122px -97px 0 -104px rgba(255,255,255, 0.76) , 35px -48px 0 -104px rgba(255,255,255, 0.865) , -8px 31px 0 -104px rgba(255,255,255, 0.259) , 92px -94px 0 -104px rgba(255,255,255, 0.491) , -126px 135px 0 -104px rgba(255,255,255, 0.969) , -49px 139px 0 -104px rgba(255,255,255, 0.884) , 34px -71px 0 -104px rgba(255,255,255, 0.42) , -76px -27px 0 -104px rgba(255,255,255, 0.333) , -93px -51px 0 -104px rgba(255,255,255, 0.496) , 18px -92px 0 -104px rgba(255,255,255, 0.931) , -134px -102px 0 -104px rgba(255,255,255, 0.461) , 20px 122px 0 -104px rgba(255,255,255, 0.26) , 39px 77px 0 -104px rgba(255,255,255, 0.762) , 27px 130px 0 -104px rgba(255,255,255, 0.598) , -43px 118px 0 -104px rgba(255,255,255, 0.032) , 131px 23px 0 -104px rgba(255,255,255, 0.938) , 51px 137px 0 -104px rgba(255,255,255, 0.366) , 113px -23px 0 -104px rgba(255,255,255, 0.976) , -13px -53px 0 -104px rgba(255,255,255, 0.995) , 117px 97px 0 -104px rgba(255,255,255, 0.913) , 130px 77px 0 -104px rgba(255,255,255, 0.819) , -80px -51px 0 -104px rgba(255,255,255, 0.412) , 96px -16px 0 -104px rgba(255,255,255, 0.802) , 3px -2px 0 -104px rgba(255,255,255, 0.891) , 102px -49px 0 -104px rgba(255,255,255, 0.571) , -42px 44px 0 -104px rgba(255,255,255, 0.98) , -67px -44px 0 -104px rgba(255,255,255, 0.935) , -117px 136px 0 -104px rgba(255,255,255, 0.256) , 145px -10px 0 -104px rgba(255,255,255, 0.135) , 23px -95px 0 -104px rgba(255,255,255, 0.621) , -116px -11px 0 -104px rgba(255,255,255, 0.397) , 117px 132px 0 -104px rgba(255,255,255, 0.484) , -32px 81px 0 -104px rgba(255,255,255, 0.858) , 125px -99px 0 -104px rgba(255,255,255, 0.016) , -91px -53px 0 -104px rgba(255,255,255, 0.091) , 90px 7px 0 -104px rgba(255,255,255, 0.785) , -28px -101px 0 -104px rgba(255,255,255, 0.368) , -21px 54px 0 -104px rgba(255,255,255, 0.387) , 109px -35px 0 -104px rgba(255,255,255, 0.765) , 1px -94px 0 -104px rgba(255,255,255, 0.324) , 40px 89px 0 -104px rgba(255,255,255, 0.648) , 51px 103px 0 -104px rgba(255,255,255, 0.254) , 145px -14px 0 -104px rgba(255,255,255, 0.416) , 124px 38px 0 -104px rgba(255,255,255, 0.839) , -30px -4px 0 -104px rgba(255,255,255, 0.656) , -137px -68px 0 -104px rgba(255,255,255, 0.802) , 68px 141px 0 -104px rgba(255,255,255, 0.374) , -48px 33px 0 -104px rgba(255,255,255, 0.587) , 118px 30px 0 -104px rgba(255,255,255, 0.704) , -81px 51px 0 -104px rgba(255,255,255, 0.498) , -80px 9px 0 -104px rgba(255,255,255, 0.439) , -52px -16px 0 -104px rgba(255,255,255, 0.164) , 111px -115px 0 -104px rgba(255,255,255, 0.024) , -35px -103px 0 -104px rgba(255,255,255, 0.749) , 75px -98px 0 -104px rgba(255,255,255, 0.485) , 42px 91px 0 -104px rgba(255,255,255, 0.052) , 13px -27px 0 -104px rgba(255,255,255, 0.635) , 61px 103px 0 -104px rgba(255,255,255, 0.537) , 134px -125px 0 -104px rgba(255,255,255, 0.703) , -18px 141px 0 -104px rgba(255,255,255, 0.897) , -114px 31px 0 -104px rgba(255,255,255, 0.367) , 42px 65px 0 -104px rgba(255,255,255, 0.539) , 72px -142px 0 -104px rgba(255,255,255, 0.039) , -126px -142px 0 -104px rgba(255,255,255, 0.407) , -143px 80px 0 -104px rgba(255,255,255, 0.532) , -69px 86px 0 -104px rgba(255,255,255, 0.92) , -132px -22px 0 -104px rgba(255,255,255, 0.314) , -39px -125px 0 -104px rgba(255,255,255, 0.285) , 69px 82px 0 -104px rgba(255,255,255, 0.898) , -18px 87px 0 -104px rgba(255,255,255, 0.778) , -8px 51px 0 -104px rgba(255,255,255, 0.132) , 34px -7px 0 -104px rgba(255,255,255, 0.688) , -48px 8px 0 -104px rgba(255,255,255, 0.242) , 127px 34px 0 -104px rgba(255,255,255, 0.731) , 113px 44px 0 -104px rgba(255,255,255, 0.752) , 90px -141px 0 -104px rgba(255,255,255, 0.073) , 33px -95px 0 -104px rgba(255,255,255, 0.663) , 76px -68px 0 -104px rgba(255,255,255, 0.374) , 2px 33px 0 -104px rgba(255,255,255, 0.313) , -82px -34px 0 -104px rgba(255,255,255, 0.717) , -82px -32px 0 -104px rgba(255,255,255, 0.208) , -93px -70px 0 -104px rgba(255,255,255, 0.765) , -23px 64px 0 -104px rgba(255,255,255, 0.597) , 8px 113px 0 -104px rgba(255,255,255, 0.729) , -134px -27px 0 -104px rgba(255,255,255, 0.668) , 85px 5px 0 -104px rgba(255,255,255, 0.994) , -32px -26px 0 -104px rgba(255,255,255, 0.388) , -77px -118px 0 -104px rgba(255,255,255, 0.615) , -84px 68px 0 -104px rgba(255,255,255, 0.547) , 38px -105px 0 -104px rgba(255,255,255, 0.021) , 34px -123px 0 -104px rgba(255,255,255, 0.54) , -72px -23px 0 -104px rgba(255,255,255, 0.536) , -56px 101px 0 -104px rgba(255,255,255, 0.813) , -2px 66px 0 -104px rgba(255,255,255, 0.511) , -100px 6px 0 -104px rgba(255,255,255, 0.22) , 56px 71px 0 -104px rgba(255,255,255, 0.768) , -20px 33px 0 -104px rgba(255,255,255, 0.799) , -29px -45px 0 -104px rgba(255,255,255, 0.113) , 115px -126px 0 -104px rgba(255,255,255, 0.454) , -51px -87px 0 -104px rgba(255,255,255, 0.248) , 58px -127px 0 -104px rgba(255,255,255, 0.803) , -49px -99px 0 -104px rgba(255,255,255, 0.324) , 86px 34px 0 -104px rgba(255,255,255, 0.674) , 122px 100px 0 -104px rgba(255,255,255, 0.269) , -73px 128px 0 -104px rgba(255,255,255, 0.72) , -37px -36px 0 -104px rgba(255,255,255, 0.974) , -122px 138px 0 -104px rgba(255,255,255, 0.971) , 48px -120px 0 -104px rgba(255,255,255, 0.233) , -23px -49px 0 -104px rgba(255,255,255, 0.38) , -87px 136px 0 -104px rgba(255,255,255, 0.638) , -18px -31px 0 -104px rgba(255,255,255, 0.543) , -87px 38px 0 -104px rgba(255,255,255, 0.224) , 21px -105px 0 -104px rgba(255,255,255, 0.233) , -55px -24px 0 -104px rgba(255,255,255, 0.829) , -138px -24px 0 -104px rgba(255,255,255, 0.38) , -99px -143px 0 -104px rgba(255,255,255, 0.632) , 141px 133px 0 -104px rgba(255,255,255, 0.631) , 130px 2px 0 -104px rgba(255,255,255, 0.193) , -39px -129px 0 -104px rgba(255,255,255, 0.824) , -49px -140px 0 -104px rgba(255,255,255, 0.895) , 60px -4px 0 -104px rgba(255,255,255, 0.776) , 7px 40px 0 -104px rgba(255,255,255, 0.407) , -52px 51px 0 -104px rgba(255,255,255, 0.445) , -122px -109px 0 -104px rgba(255,255,255, 0.004) , -81px -123px 0 -104px rgba(255,255,255, 0.343) , -35px -88px 0 -104px rgba(255,255,255, 0.712) , 55px 113px 0 -104px rgba(255,255,255, 0.462) , -67px -117px 0 -104px rgba(255,255,255, 0.901) , -50px 32px 0 -104px rgba(255,255,255, 0.269) , -102px -66px 0 -104px rgba(255,255,255, 0.379) , -90px 3px 0 -104px rgba(255,255,255, 0.835) , -120px -85px 0 -104px rgba(255,255,255, 0.848) , 68px 63px 0 -104px rgba(255,255,255, 0.975) , 71px 71px 0 -104px rgba(255,255,255, 0.196) , -49px 0px 0 -104px rgba(255,255,255, 0.296) , 134px 99px 0 -104px rgba(255,255,255, 0.222) , -92px 47px 0 -104px rgba(255,255,255, 0.296) , -1px 101px 0 -104px rgba(255,255,255, 0.277) , 143px 143px 0 -104px rgba(255,255,255, 0.6) , -55px 118px 0 -104px rgba(255,255,255, 0.036) , 22px -113px 0 -104px rgba(255,255,255, 0.16) , -55px 33px 0 -104px rgba(255,255,255, 0.736) , -89px 64px 0 -104px rgba(255,255,255, 0.801) , 11px -118px 0 -104px rgba(255,255,255, 0.381) , 84px -46px 0 -104px rgba(255,255,255, 0.951) , 86px 123px 0 -104px rgba(255,255,255, 0.808) , 78px 59px 0 -104px rgba(255,255,255, 0.594) , -50px 81px 0 -104px rgba(255,255,255, 0.436) , 133px 37px 0 -104px rgba(255,255,255, 0.23) , -121px 121px 0 -104px rgba(255,255,255, 0.89) , -28px -81px 0 -104px rgba(255,255,255, 0.302) , 11px -4px 0 -104px rgba(255,255,255, 0.731) , 144px -134px 0 -104px rgba(255,255,255, 0.999) , 122px -92px 0 -104px rgba(255,255,255, 0.839) , 23px 36px 0 -104px rgba(255,255,255, 0.262) , -119px -54px 0 -104px rgba(255,255,255, 0.809) , 143px 69px 0 -104px rgba(255,255,255, 0.586) , -23px 60px 0 -104px rgba(255,255,255, 0.53) , -53px 16px 0 -104px rgba(255,255,255, 0.274) , -81px -120px 0 -104px rgba(255,255,255, 0.836) , -62px -137px 0 -104px rgba(255,255,255, 0.536) , -78px -39px 0 -104px rgba(255,255,255, 0.719) , -104px -70px 0 -104px rgba(255,255,255, 0.408) , 22px 44px 0 -104px rgba(255,255,255, 0.333) , 103px -135px 0 -104px rgba(255,255,255, 0.667) , 3px -135px 0 -104px rgba(255,255,255, 0.24) , 21px -36px 0 -104px rgba(255,255,255, 0.078) , -61px -121px 0 -104px rgba(255,255,255, 0.936) , -124px 27px 0 -104px rgba(255,255,255, 0.862) , 58px -66px 0 -104px rgba(255,255,255, 0.906) , 39px 80px 0 -104px rgba(255,255,255, 0.192) , -91px -83px 0 -104px rgba(255,255,255, 0.028) , -14px -41px 0 -104px rgba(255,255,255, 0.435) , -142px -58px 0 -104px rgba(255,255,255, 0.29) , 132px -65px 0 -104px rgba(255,255,255, 0.496) , -39px -54px 0 -104px rgba(255,255,255, 0.944) , -63px -89px 0 -104px rgba(255,255,255, 0.234) , -132px 96px 0 -104px rgba(255,255,255, 0.544) , -49px 1px 0 -104px rgba(255,255,255, 0.709) , -61px -42px 0 -104px rgba(255,255,255, 0.959) , -108px 2px 0 -104px rgba(255,255,255, 0.005) , 132px -50px 0 -104px rgba(255,255,255, 0.395) , 31px -67px 0 -104px rgba(255,255,255, 0.475) , 79px 102px 0 -104px rgba(255,255,255, 0.807) , 142px -31px 0 -104px rgba(255,255,255, 0.171) , 86px 125px 0 -104px rgba(255,255,255, 0.493) , -39px 31px 0 -104px rgba(255,255,255, 0.398) , -102px 45px 0 -104px rgba(255,255,255, 0.708) , 79px 34px 0 -104px rgba(255,255,255, 0.557) , 119px -111px 0 -104px rgba(255,255,255, 0.261) , -13px 70px 0 -104px rgba(255,255,255, 0.968) , -16px -84px 0 -104px rgba(255,255,255, 0.461) , 86px 142px 0 -104px rgba(255,255,255, 0.381) , -48px -65px 0 -104px rgba(255,255,255, 0.933) , 50px 6px 0 -104px rgba(255,255,255, 0.511) , -144px -132px 0 -104px rgba(255,255,255, 0.541) , -60px -35px 0 -104px rgba(255,255,255, 0.661) , -67px 81px 0 -104px rgba(255,255,255, 0.651) , -10px -39px 0 -104px rgba(255,255,255, 0.582) , 82px 117px 0 -104px rgba(255,255,255, 0.369) , 47px 68px 0 -104px rgba(255,255,255, 0.933) , -68px -22px 0 -104px rgba(255,255,255, 0.501) , -2px -43px 0 -104px rgba(255,255,255, 0.154) , -27px 25px 0 -104px rgba(255,255,255, 0.412) , 84px 110px 0 -104px rgba(255,255,255, 0.686) , 67px -39px 0 -104px rgba(255,255,255, 0.014) , 64px 29px 0 -104px rgba(255,255,255, 0.306) , -13px -92px 0 -104px rgba(255,255,255, 0.966) , -1px -142px 0 -104px rgba(255,255,255, 0.397) , -23px 27px 0 -104px rgba(255,255,255, 0.302) , 89px 61px 0 -104px rgba(255,255,255, 0.827) , -15px -26px 0 -104px rgba(255,255,255, 0.225) , 139px -128px 0 -104px rgba(255,255,255, 0.239) , 45px 12px 0 -104px rgba(255,255,255, 0.525) , -92px -74px 0 -104px rgba(255,255,255, 0.477) , 79px -34px 0 -104px rgba(255,255,255, 0.839) , 29px 99px 0 -104px rgba(255,255,255, 0.164) , 98px -46px 0 -104px rgba(255,255,255, 0.205) , 18px -42px 0 -104px rgba(255,255,255, 0.452) , 80px -7px 0 -104px rgba(255,255,255, 0.351) , -87px 120px 0 -104px rgba(255,255,255, 0.147) , 118px 24px 0 -104px rgba(255,255,255, 0.942) , 96px 15px 0 -104px rgba(255,255,255, 0.013) , -90px -87px 0 -104px rgba(255,255,255, 0.754) , -62px -21px 0 -104px rgba(255,255,255, 0.324) , 56px -78px 0 -104px rgba(255,255,255, 0.407) , 66px -14px 0 -104px rgba(255,255,255, 0.132) , -130px 145px 0 -104px rgba(255,255,255, 0.651) , -46px -12px 0 -104px rgba(255,255,255, 0.792) , 72px -88px 0 -104px rgba(255,255,255, 0.292) , -108px -113px 0 -104px rgba(255,255,255, 0.125) , 65px 3px 0 -104px rgba(255,255,255, 0.73) , -114px 130px 0 -104px rgba(255,255,255, 0.764) , 107px -84px 0 -104px rgba(255,255,255, 0.863) , 121px -127px 0 -104px rgba(255,255,255, 0.497) , -96px 143px 0 -104px rgba(255,255,255, 0.375) , -36px 27px 0 -104px rgba(255,255,255, 0.284) , 126px 39px 0 -104px rgba(255,255,255, 0.615) , -67px -30px 0 -104px rgba(255,255,255, 0.317) , -23px 65px 0 -104px rgba(255,255,255, 0.518) , -132px 4px 0 -104px rgba(255,255,255, 0.829) , 3px -44px 0 -104px rgba(255,255,255, 0.477) , 104px 143px 0 -104px rgba(255,255,255, 0.7) , 145px 37px 0 -104px rgba(255,255,255, 0.561) , 93px 112px 0 -104px rgba(255,255,255, 0.56) , -10px -144px 0 -104px rgba(255,255,255, 0.87) , -14px -33px 0 -104px rgba(255,255,255, 0.392) , 123px 11px 0 -104px rgba(255,255,255, 0.883) , 106px -22px 0 -104px rgba(255,255,255, 0.777) , -30px -130px 0 -104px rgba(255,255,255, 0.111) , 139px -35px 0 -104px rgba(255,255,255, 0.098) , -140px 70px 0 -104px rgba(255,255,255, 0.93) , -126px 131px 0 -104px rgba(255,255,255, 0.949) , -26px -64px 0 -104px rgba(255,255,255, 0.567) , 82px 129px 0 -104px rgba(255,255,255, 0.608) , 50px 102px 0 -104px rgba(255,255,255, 0.185) , 101px 56px 0 -104px rgba(255,255,255, 0.665) , -113px 137px 0 -104px rgba(255,255,255, 0.854) , 61px 140px 0 -104px rgba(255,255,255, 0.728) , -113px -26px 0 -104px rgba(255,255,255, 0.579) , -133px 128px 0 -104px rgba(255,255,255, 0.615) , -68px -34px 0 -104px rgba(255,255,255, 0.714) , -111px -41px 0 -104px rgba(255,255,255, 0.936) , 36px -97px 0 -104px rgba(255,255,255, 0.098) , -95px -41px 0 -104px rgba(255,255,255, 0.107) , 101px 40px 0 -104px rgba(255,255,255, 0.739) , 129px 10px 0 -104px rgba(255,255,255, 0.548) , -73px 64px 0 -104px rgba(255,255,255, 0.955) , -38px 130px 0 -104px rgba(255,255,255, 0.008) , -68px -46px 0 -104px rgba(255,255,255, 0.174) , 131px -120px 0 -104px rgba(255,255,255, 0.167) , -140px 22px 0 -104px rgba(255,255,255, 0.516) , -128px -60px 0 -104px rgba(255,255,255, 0.076) , -92px 113px 0 -104px rgba(255,255,255, 0.916) , 145px 139px 0 -104px rgba(255,255,255, 0.542) , -136px -34px 0 -104px rgba(255,255,255, 0.102) , -88px -119px 0 -104px rgba(255,255,255, 0.939) , 50px 98px 0 -104px rgba(255,255,255, 0.376) , 13px -27px 0 -104px rgba(255,255,255, 0.657) , 14px -124px 0 -104px rgba(255,255,255, 0.146) , 137px -94px 0 -104px rgba(255,255,255, 0.657) , -65px -133px 0 -104px rgba(255,255,255, 0.008) , -98px 128px 0 -104px rgba(255,255,255, 0.847) , 29px 85px 0 -104px rgba(255,255,255, 0.383) , -49px -88px 0 -104px rgba(255,255,255, 0.1) , -13px -42px 0 -104px rgba(255,255,255, 0.932) , -88px -102px 0 -104px rgba(255,255,255, 0.635) , -115px 47px 0 -104px rgba(255,255,255, 0.353) , 136px 127px 0 -104px rgba(255,255,255, 0.219) , -85px -88px 0 -104px rgba(255,255,255, 0.553) , -74px -94px 0 -104px rgba(255,255,255, 0.124) , 140px -51px 0 -104px rgba(255,255,255, 0.169) , -35px 60px 0 -104px rgba(255,255,255, 0.701) , 55px -99px 0 -104px rgba(255,255,255, 0.719) , -128px 47px 0 -104px rgba(255,255,255, 0.667) , 61px -25px 0 -104px rgba(255,255,255, 0.877) , -123px -129px 0 -104px rgba(255,255,255, 0.839) , 86px -108px 0 -104px rgba(255,255,255, 0.483) , -82px 35px 0 -104px rgba(255,255,255, 0.31) , 26px 20px 0 -104px rgba(255,255,255, 0.617) , 106px 106px 0 -104px rgba(255,255,255, 0.746) , -131px 48px 0 -104px rgba(255,255,255, 0.01) , 115px -27px 0 -104px rgba(255,255,255, 0.44) , 69px 10px 0 -104px rgba(255,255,255, 0.719) , -23px 127px 0 -104px rgba(255,255,255, 0.651) , 145px -16px 0 -104px rgba(255,255,255, 0.195) , 139px -25px 0 -104px rgba(255,255,255, 0.214) , 65px -84px 0 -104px rgba(255,255,255, 0.635) , 120px 14px 0 -104px rgba(255,255,255, 0.722) , -15px -59px 0 -104px rgba(255,255,255, 0.808) , 2px -93px 0 -104px rgba(255,255,255, 0.423) , -62px -72px 0 -104px rgba(255,255,255, 0.268) , 111px 1px 0 -104px rgba(255,255,255, 0.708) , 33px -105px 0 -104px rgba(255,255,255, 0.514) , 91px -23px 0 -104px rgba(255,255,255, 0.973) , 20px 133px 0 -104px rgba(255,255,255, 0.659) , 37px 103px 0 -104px rgba(255,255,255, 0.918) , -133px 114px 0 -104px rgba(255,255,255, 0.073) , 59px -113px 0 -104px rgba(255,255,255, 0.418) , -56px 109px 0 -104px rgba(255,255,255, 0.228) , -9px 90px 0 -104px rgba(255,255,255, 0.863) , -47px 96px 0 -104px rgba(255,255,255, 0.093) , 120px -23px 0 -104px rgba(255,255,255, 0.225) , -21px -119px 0 -104px rgba(255,255,255, 0.61) , 43px -99px 0 -104px rgba(255,255,255, 0.962) , -125px 33px 0 -104px rgba(255,255,255, 0.677) , -92px 126px 0 -104px rgba(255,255,255, 0.939) , -22px 6px 0 -104px rgba(255,255,255, 0.667) , 53px -105px 0 -104px rgba(255,255,255, 0.172) , 145px -18px 0 -104px rgba(255,255,255, 0.024) , 41px -79px 0 -104px rgba(255,255,255, 0.673) , -11px -143px 0 -104px rgba(255,255,255, 0.817) , -95px 14px 0 -104px rgba(255,255,255, 0.531) , -59px -100px 0 -104px rgba(255,255,255, 0.334) , -135px 74px 0 -104px rgba(255,255,255, 1) , 88px 23px 0 -104px rgba(255,255,255, 0.199) , 18px -76px 0 -104px rgba(255,255,255, 0.039) , -15px 111px 0 -104px rgba(255,255,255, 0.675) , -22px -115px 0 -104px rgba(255,255,255, 0.31) , 142px 145px 0 -104px rgba(255,255,255, 0.315) , -124px -64px 0 -104px rgba(255,255,255, 0.132) , -51px -84px 0 -104px rgba(255,255,255, 0.649) , -27px -18px 0 -104px rgba(255,255,255, 0.45) , 37px -134px 0 -104px rgba(255,255,255, 0.284) , -100px -45px 0 -104px rgba(255,255,255, 0.02) , 122px 43px 0 -104px rgba(255,255,255, 0.623) , -82px -3px 0 -104px rgba(255,255,255, 0.053) , -86px 1px 0 -104px rgba(255,255,255, 0.375) , 115px -67px 0 -104px rgba(255,255,255, 0.944) , 91px 64px 0 -104px rgba(255,255,255, 0.204) , 38px -135px 0 -104px rgba(255,255,255, 0.221) , 29px -100px 0 -104px rgba(255,255,255, 0.44) , -126px -106px 0 -104px rgba(255,255,255, 0.123) , 35px -74px 0 -104px rgba(255,255,255, 0.834) , 25px 122px 0 -104px rgba(255,255,255, 0.116) , 22px 122px 0 -104px rgba(255,255,255, 0.499) , -104px -34px 0 -104px rgba(255,255,255, 0.936) , -135px 144px 0 -104px rgba(255,255,255, 0.431) , -92px 91px 0 -104px rgba(255,255,255, 0.389) , 37px -30px 0 -104px rgba(255,255,255, 0.21) , -76px -135px 0 -104px rgba(255,255,255, 0.054) , 12px 131px 0 -104px rgba(255,255,255, 0.562) , -65px -103px 0 -104px rgba(255,255,255, 0.989) , 74px -84px 0 -104px rgba(255,255,255, 0.289) , -101px 143px 0 -104px rgba(255,255,255, 0.089) , -85px 83px 0 -104px rgba(255,255,255, 0.6) , 86px -80px 0 -104px rgba(255,255,255, 0.887) , -65px -98px 0 -104px rgba(255,255,255, 0.944) , -106px -59px 0 -104px rgba(255,255,255, 0.037);
}

.pluto {
  display: none;
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  -webkit-animation: orb 7439.70741s linear infinite;
          animation: orb 7439.70741s linear infinite;
}
.pluto:before {
  display: none;
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

.hide {
  display: none;
}

.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@-webkit-keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
